@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-100;
}

.radio-selectors{
    @apply inline-flex mt-5 ml-5 gap-2
}

.radio-selectors span{
   @apply  py-4 px-4 bg-blue-300  block 

}
.radio-selectors input[type="radio"] {
    @apply hidden
}

.radio-selectors input[type="radio"]:checked + span {
    @apply bg-blue-500 text-white
}

input[type="text"],textarea {
    @apply bg-gray-100 w-full block py-2 px-2 mb-2 rounded-md
}

/* input[type='color']{
    @apply 
} */
.sortable-ghost {
    opacity: .3;
    @apply bg-gray-300
}

.text1 {
    font-family: var(--font-kanit);
    font-weight: 900;
    font-style: italic;
}